table{
    width: 100%;
}


  .rojoRow{
      border: 2px dotted red;
  }
  .verdeRow{
      border: 2px dotted green;
  }
  .azulRow{
      border: 2px dotted blue;
  }
  .amarilloRow{
      border: 2px dotted yellow;
  }
  .rojoT:hover, .verdeT:hover, .azulT:hover, .amarilloT:hover{
    border: 5px outset black !important;
  }
  .rojoT{
    background-color: red;
    color: white !important;
    text-align: center !important;
    min-width: 10%;
   
    cursor: pointer;
}

  .azulT{
      background-color: blue;
      color: white;
      text-align: center !important;
      min-width: 10%;
      cursor: pointer;
  }
  .verdeT{
      background-color: green;
      color: white;
      text-align: center !important;

      min-width: 10%;
      cursor: pointer;
  }
  .amarilloT{
      background-color:yellow;
      text-align: center !important;
      min-width: 10%;
      cursor: pointer;
  }
  .total{
    text-align: center !important;
    min-width: 10%;

  }
th, td{
    font-size: small;
}
  .error{
      color: red;
  }
  .ok{
      color: green;
  }

  @media screen and (min-width: 480px) {
   th, td{
       font-size: medium;
   }
  }
  
  @media screen and (min-width: 720) {
    th, td{
        font-size: large;
    }
   }