#inicio {
  height: 100vh;
  transition: background-color 2s;
}
.error {
  color: crimson;
  font-size: large;
}
.palabras{
    /* transition: color 2s; */
    /* opacity: 0; */
    visibility : visible;
    transition: visibility 2s;
}