<div class="container-fluid"></div>
<div class="row">
    <div class="col-12">
        <app-navbar></app-navbar>
    </div>

</div>
<div class="row">
    <div class="col-12">
        <h1>Lista de empleados del hotel {{hotel}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
        </mat-form-field>

        <table id="tablaClientes" mat-table [dataSource]="dataSource" class="mat-elevation-z10">


            <ng-container matColumnDef="login">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let empleado"> {{empleado.login}} </td>
            </ng-container>
            <ng-container matColumnDef="borrado">
                <th mat-header-cell *matHeaderCellDef> Eliminar empleado </th>
                <td mat-cell *matCellDef="let empleado"> <svg (click)="deleteEmpleado(empleado.id)" id="bin"
                        xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        class="bi bi-trash" viewBox="0 0 16 16">
                        <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd"
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg> </td>
            </ng-container>




            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>