

mat-label{
    font-size: large;
}
.errorNumeros{
    font-size: small;
    color: red;
    margin-top: 10px;
}
.lineaCorrecta{
    background-color: blue !important;
    color: blue !important;
}
.lineaIncorrecta{
    background-color: red !important;
    color: red !important;
}

.tituloCorrecto{
    color: blue !important;
}
.tituloIncorrecto{
    color: red !important;
}

mat-form-field{
    width: 50%;
}
input{
    margin-right: 10px;
    width: 15%;
    min-width: 50px;
}
span{
    margin-left: 100px;
}
@media screen and (min-width: 480px) {
    mat-form-field{
        width: 40%;
    }
    input{
        margin-right: 20px;
        width: 10%;
        
    }
    span{
        margin-left: 60px;
    }
   }

   @media screen and (min-width: 720px) {
    mat-form-field{
        width: 30%;
    }
    input{
        margin-right: 10px;
        width: 5%;
    }
    span{
        margin-left: 40px;
    }

   }