<div class="container-fluid"></div>
<div class="row">
  <div class="col-12">
    <app-navbar></app-navbar>
  </div>
</div>
<div class="row align-items-center">
    <div class="col-12 text-center">
        <h1>Test personalidad</h1>
    </div>
</div>
<div class="row align-items-center">
  <div class="col-12">
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Instrucciones </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Para cada uno de los siguientes pares de afirmaciones (6) distribuir
          tres puntos entre las dos alternativas A y B, basándose en cómo
          actuaría en situaciones cotidianas. Aunque en algunos casos las dos
          opciones le puedan parecer válidas, asignar más puntos a la opción que
          mejor representa su comportamiento la mayor parte del tiempo.
        </p>
        <p>
          Si A le caracteriza y B no le caracteriza, asignar 3 puntos a A y 0 a
          B.
        </p>
        <p>
          Si A le resulta más característico que B pero B le resulta plausible
          en algunas ocasiones, asignar 2 puntos a A y uno a B.
        </p>
        <p>
          Si B le caracteriza más que A, pero A le resulta plausible, asignar 2
          puntos a B y uno a A.
        </p>
        <p>
          Si B le caracteriza y A no le caracteriza para nada, asignar 3 puntos
          a B y 0 a A.
        </p>
        <p>
          En todos los casos los puntos asignados a ambas opciones deben sumar
          tres.
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="row align-items-center">
    <div class="col-12 text-center">
        <form [formGroup]="test" (ngSubmit)="onSubmit(test)">
          <mat-card>
            <mat-card-content>
              <mat-form-field>
                <mat-label >1A:</mat-label>
    
                <input
                  matInput
                  type="number"
                  placeholder="puntuacion"
                  name="1A"
                  formControlName="1A"
                  min="0"
                  max="3"
                  (change)="onChangeNumber('1A')"
                />
                <span
                  >En general soy abierto cuando se trata de conocer a la gente
                  personalmente y establecer relaciones.</span
                >
                <mat-hint>Introduzca la puntuacion del 0 al 3</mat-hint>
                <div class="errorNumeros" *ngIf="errorNumeros[0]">
                  La suma de ambas opciones tiene que ser 3.
                </div>
              </mat-form-field>
              <mat-form-field>
                <mat-label>1B:</mat-label>
                <input
                  matInput
                  type="number"
                  placeholder="puntuacion"
                  name="1B"
                  formControlName="1B"
                  min="0"
                  max="3"
                  (change)="onChangeNumber('1B')"
                />
                <span
                  >En general no me resulta fácil establecer relaciones personales
                  con la gente.
                </span>
                <mat-hint>Introduzca la puntuacion del 0 al 3</mat-hint>
                <div class="errorNumeros" *ngIf="errorNumeros[0]">
                  La suma de ambas opciones tiene que ser 3.
                </div>
              </mat-form-field>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-content>
              <mat-form-field>
                <mat-label>2A:</mat-label>
                <input
                  matInput
                  type="number"
                  placeholder="puntuacion"
                  name="2A"
                  formControlName="2A"
                  min="0"
                  max="3"
                  (change)="onChangeNumber('2A')"
                />
                <span>Normalmente reacciono despacio y de manera deliberada.</span>
                <mat-hint>Introduzca la puntuacion del 0 al 3</mat-hint>
                <div class="errorNumeros" *ngIf="errorNumeros[1]">
                  La suma de ambas opciones tiene que ser 3.
                </div>
              </mat-form-field>
              <mat-form-field>
                <mat-label>2B:</mat-label>
                <input
                  matInput
                  type="number"
                  placeholder="puntuacion"
                  name="2B"
                  formControlName="2B"
                  min="0"
                  max="3"
                  (change)="onChangeNumber('2B')"
                />
                <span>Normalmente reacciono rápidamente y con espontaneidad. </span>
                <mat-hint>Introduzca la puntuacion del 0 al 3</mat-hint>
                <div class="errorNumeros" *ngIf="errorNumeros[1]">
                  La suma de ambas opciones tiene que ser 3.
                </div>
              </mat-form-field>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-content>
              <mat-form-field>
                <mat-label>3A:</mat-label>
                <input
                  matInput
                  type="number"
                  placeholder="puntuacion"
                  name="3A"
                  formControlName="3A"
                  min="0"
                  max="3"
                  (change)="onChangeNumber('3A')"
                />
                <span>No dejo que los demás malgasten mi tiempo. </span>
                <mat-hint>Introduzca la puntuacion del 0 al 3</mat-hint>
                <div class="errorNumeros" *ngIf="errorNumeros[2]">
                  La suma de ambas opciones tiene que ser 3.
                </div>
              </mat-form-field>
              <mat-form-field>
                <mat-label>3B:</mat-label>
                <input
                  matInput
                  type="number"
                  placeholder="puntuacion"
                  name="3B"
                  formControlName="3B"
                  min="0"
                  max="3"
                  (change)="onChangeNumber('3B')"
                />
                <span
                  >No pongo reparos a los demás cuando necesitan de mi tiempo.
                </span>
                <mat-hint>Introduzca la puntuacion del 0 al 3</mat-hint>
                <div class="errorNumeros" *ngIf="errorNumeros[2]">
                  La suma de ambas opciones tiene que ser 3.
                </div>
              </mat-form-field>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-content>
              <mat-form-field>
                <mat-label>4A:</mat-label>
                <input
                  matInput
                  type="number"
                  placeholder="puntuacion"
                  name="4A"
                  formControlName="4A"
                  min="0"
                  max="3"
                  (change)="onChangeNumber('4A')"
                />
                <span>Me presento a mí mismo en reuniones sociales. </span>
                <mat-hint>Introduzca la puntuacion del 0 al 3</mat-hint>
                <div class="errorNumeros" *ngIf="errorNumeros[3]">
                  La suma de ambas opciones tiene que ser 3.
                </div>
              </mat-form-field>
              <mat-form-field>
                <mat-label>4B:</mat-label>
                <input
                  matInput
                  type="number"
                  placeholder="puntuacion"
                  name="4B"
                  formControlName="4B"
                  min="0"
                  max="3"
                  (change)="onChangeNumber('4B')"
                />
                <span
                  >Espero que los demás se presenten a mí en reuniones sociales.
                </span>
                <mat-hint>Introduzca la puntuacion del 0 al 3</mat-hint>
                <div class="errorNumeros" *ngIf="errorNumeros[3]">
                  La suma de ambas opciones tiene que ser 3.
                </div>
              </mat-form-field>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-content>
              <mat-form-field>
                <mat-label>5A:</mat-label>
                <input
                  matInput
                  type="number"
                  placeholder="puntuacion"
                  name="5A"
                  formControlName="5A"
                  min="0"
                  max="3"
                  (change)="onChangeNumber('5A')"
                />
                <span
                  >Suelo tomar decisiones basándome en hechos y en evidencias.
                </span>
                <mat-hint>Introduzca la puntuacion del 0 al 3</mat-hint>
                <div class="errorNumeros" *ngIf="errorNumeros[4]">
                  La suma de ambas opciones tiene que ser 3.
                </div>
              </mat-form-field>
              <mat-form-field>
                <mat-label>5B:</mat-label>
                <input
                  matInput
                  type="number"
                  placeholder="puntuacion"
                  name="5B"
                  formControlName="5B"
                  min="0"
                  max="3"
                  (change)="onChangeNumber('5B')"
                />
                <span>
                  Suelo tomar decisiones basadas en sentimientos, experiencias o
                  relaciones.
                </span>
                <mat-hint>Introduzca la puntuacion del 0 al 3</mat-hint>
                <div class="errorNumeros" *ngIf="errorNumeros[4]">
                  La suma de ambas opciones tiene que ser 3.
                </div>
              </mat-form-field>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-content>
              <mat-form-field>
                <mat-label>6A:</mat-label>
                <input
                  matInput
                  type="number"
                  placeholder="puntuacion"
                  name="6A"
                  formControlName="6A"
                  min="0"
                  max="3"
                  (change)="onChangeNumber('6A')"
                />
                <span
                  >Suelo ser paciente con mi interlocutor cuando se expresa / habla
                  más despacio que yo.
                </span>
                <mat-hint>Introduzca la puntuacion del 0 al 3</mat-hint>
                <div class="errorNumeros" *ngIf="errorNumeros[5]">
                  La suma de ambas opciones tiene que ser 3.
                </div>
              </mat-form-field>
              <mat-form-field>
                <mat-label>6B:</mat-label>
                <input
                  matInput
                  type="number"
                  placeholder="puntuacion"
                  name="6B"
                  formControlName="6B"
                  min="0"
                  max="3"
                  (change)="onChangeNumber('6B')"
                />
                <span>
                  Puedo ser impaciente cuando mi interlocutor se expresa/ habla más
                  despacio que yo.
                </span>
                <mat-hint>Introduzca la puntuacion del 0 al 3</mat-hint>
                <div class="errorNumeros" *ngIf="errorNumeros[5]">
                  La suma de ambas opciones tiene que ser 3.
                </div>
              </mat-form-field>
            </mat-card-content>
          </mat-card>
          <mat-card-actions class="mat-card-button-login">
            <button
              mat-raised-button
              type="submit"
              [disabled]="testIncompleto"
              color="primary"
            >
              Enviar
            </button>
          </mat-card-actions>
        </form>
      </div>
  </div>
  
</div>
