.buttonClass {
    font-size:1.2em;
    font-family: "Futura", Arial, Helvetica, sans-serif;
    width:180px;
    height:50px;
    border-width:1px;
    color:#333333;
    border-color:#333333;
    font-weight:bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow: 0px 1px 0px 0px #121211;
    text-shadow: 0px 1px 0px #121210;
    background:linear-gradient(#FFFFFF, #b9d7d8);
  }
  
  .buttonClass:hover {
    background: linear-gradient(#0e0f0f, #131315);
    color:#FFFFFF;
    box-shadow: 0px 1px 0px 0px #f1f1e8;
    text-shadow: 0px 1px 0px #f4f4f0;
  }
                
#icono,#logout{
    font-size:2.2em;
    font-family: "Futura", Arial, Helvetica, sans-serif;
    color: #333333;
}

#logout:hover{
cursor: pointer;
}

#logout{
  display: none;
}

@media screen and (min-width: 600px) {
  #logout{
      display: block;
  }
 }

 .black{

  background-color: whitesmoke;
}