@import '~@angular/material/theming';
@include mat-core();

$red-primary : mat-palette($mat-red,500);
$red-accent : mat-palette($mat-red,200);
$red-warn : mat-palette($mat-red,900);
$red-theme: mat-light-theme($red-primary, $red-accent, $red-warn);

$green-primary : mat-palette($mat-green,500);
$green-accent : mat-palette($mat-green,200);
$green-warn : mat-palette($mat-green,900);
$green-theme : mat-light-theme($green-primary,$green-accent,$green-warn);

$blue-primary : mat-palette($mat-blue,500);
$blue-accent : mat-palette($mat-blue,200);
$blue-warn : mat-palette($mat-green,900);
$blue-theme : mat-light-theme($blue-primary,$blue-accent,$blue-warn);

$yellow-primary : mat-palette($mat-yellow,500);
$yellow-accent : mat-palette($mat-yellow,200);
$yellow-warn : mat-palette($mat-yellow,900);
$yellow-theme : mat-light-theme($yellow-primary,$yellow-accent,$yellow-warn);

.red-theme{
  @include angular-material-theme($red-theme);
      /* fuente para color rojo */
      font-family: "Futura", Arial, Helvetica, sans-serif;
      font-size: 2em;
      color: #F7F9F9;
      background-color: #045551;
}
.green-theme{
  @include angular-material-theme($green-theme);
    /* fuente para color verde */
    font-family: "Centaur", Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: #212F3D;
    background-color: #F7F9F9;
}
.blue-theme{
  @include angular-material-theme($blue-theme);
    /* fuente para color azul */
    font-family: "Trajan", Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: #FBFCFC;
    background-color: #045551;

}
.yellow-theme{
  @include angular-material-theme($yellow-theme);
      /* fuente para color amarillo */
      font-family: "Circus", Arial, Helvetica, sans-serif;
      font-size: 2em;
      color: #1C2833;
      background-color: #FBFCFC;
}